<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="info">

    <!-- Append messages to the file -->
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="info" />
		<param name="File" value="../../logs/pt/lbs-portal.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5120KB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="lbs-p: %d{MM-dd HH:mm:ss,SSS} %-5p[%F:%L] %m%n" />
		</layout>
	</appender>
    <!-- Append messages to the console -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="info" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="lbs-p: %d{MM-dd HH:mm:ss,SSS} %-5p[%F:%L] %m%n" />
		</layout>
	</appender>

    <!-- Setup the Root category -->
	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>